@{
    ViewBag.Title = "Upload CSV";
}

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-md-8">
            <br/>
            <div class="col-md-6">
                <input type="file" id="file" accept=".csv" class="btn btn-primary"/>
            </div>
            <div class="col-md-2">
                <button ng-click="UploadFile()" class="button button4">Upload</button>
            </div>
        </div>
    </div>
</div>



<script>
    
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope) {

        var validFormats = ['csv'];

        $scope.UploadFile = function () {

            // get the file and check extension
            var fileToUpload = document.getElementById('file').files[0];
            var extn = fileToUpload.name.split(".").pop();

            if (extn === validFormats) {
                // make a post call
                var fd = new FormData();
                //Take the selected file
             
                fd.append("file", fileToUpload);

                $.ajax({
                    url: '/Home/UploadFile',
                    data: fd,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                    
                    }
                });
            } else 
            {
                alert('Please select a csv file');
            }
        }
    });
</script>